</div>
<div id="footer" class="container-fluid">
    <div class="container">
        lsss-iiiiiii
    </div>
</div>
</body>
<script src="/javascripts/jquery-3.2.1.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</html>